@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    @apply w-1
}

html::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-primary-500
}